{% extends 'layout/default.twig' %}

{% block isi %}
    <h1>Tambah Data</h1>
    {% if info %}
		<div class="alert alert-success">
			Data berhasil diupload
			<div class="close tutup">&times;</div>
		</div>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
    	<div class="form-group">
    		<label for="">Judul</label>
    		<input type="text" class="form-control" name="judul" required="">
    	</div>
    	<div class="form-group">
    		<label for="">Gambar</label>
    		<input type="file" name="gambar" id="" required="">
    	</div>
    	<div class="form-group">
    		<input type="submit" value="Kirim" class="btn btn-success">
    	</div>
    </form>
{% endblock %}